<!-- Services Section -->
<div class="col-5 col-md-12 skill section">
    <h1>My Skill</h1>
    <div id="skill1" class="skills ani_pulse aniUtil_onMouse aniUtil_active" data-width="90" data-background="#ec582b">html</div>
    <div id="skill1" class="skills ani_pulse aniUtil_onMouse aniUtil_active" data-width="60" data-background="#3a7fe7">css</div>
    <div id="skill1" class="skills ani_pulse aniUtil_onMouse aniUtil_active" data-width="90" data-background="#ffc107">javascript</div>
    <div id="skill1" class="skills ani_pulse aniUtil_onMouse aniUtil_active" data-width="70" data-background="#50eb71">java</div>
    <div id="skill1" class="skills ani_pulse aniUtil_onMouse aniUtil_active" data-width="80" data-background="#76eff3">mysql</div>
</div>